[Desktop Entry]
Encoding=UTF-8
Name=TestStation
Exec=/usr/bin/perl /home/hello/provision.pl
Icon=utilities-terminal
Type=Application
Comment=
Path=
Terminal=true
StartupNotify=false
Name[en_US]=Sense TestStation
